.main_chat
  .main_chat__group-info
    .main_chat__group-info__info-menu
      .main_chat__group-info__info-menu__group-name
        LET_IT_BE
      .main_chat__group-info__info-menu__member-name
        kuro
    .main_chat__group-info__edit-menu
      .main_chat__group-info__edit-menu__edit
        = link_to 'Edit', "#", class: "Editlink";
  .main_chat__message-list
    .main_chat__message-list__message
      .main_chat__message-list__message__info
        .main_chat__message-list__message__info__name
          kuro
        .main_chat__message-list__message__info__date
          2019/12/29(sun) 9:30
      .main_chat__message-list__message__message-text
        やっと、ここまできました。
    .main_chat__message-list__message
      .main_chat__message-list__message__info
        .main_chat__message-list__message__info__name
          kuro
        .main_chat__message-list__message__info__date
          2019/12/29(sun) 9:45
      .main_chat__message-list__message__message-text
        ようやくフロントエンドの実装が終わりました。（まだ、LGTMをもらえるかわかりませんが）
    .main_chat__message-list__message
      .main_chat__message-list__message__info
        .main_chat__message-list__message__info__name
          kuro
        .main_chat__message-list__message__info__date
          2019/12/29(sun) 9:48
      .main_chat__message-list__message__message-text
        一時はエラー続きで終わりそうになかったですが、
    .main_chat__message-list__message
      .main_chat__message-list__message__info
        .main_chat__message-list__message__info__name
          kuro
        .main_chat__message-list__message__info__date
          2019/12/22(sun) 9:50
      .main_chat__message-list__message__message-text
        教えてもらいながら、１つずつ解決していくことができました。
    .main_chat__message-list__message
      .main_chat__message-list__message__info
        .main_chat__message-list__message__info__name
          kuro
        .main_chat__message-list__message__info__date
          2019/12/22(sun) 9:55 
      .main_chat__message-list__message__message-text
        さらに前へ進みます。
  .main_chat__form
    .main_chat__form__message-form
      %input.main_chat__form__message-form__type-box{:type => "text", :placeholder => "type a message", :name => "type-box"}
      %label.main_chat__form__message-form__insert-image{class: "main_chat__form__message-form__insert-image"}
        = icon('fas', 'image')
        %input.main_chat__form__message-form__insert-image__file{:type => "file", :name => "file", :id => "file"}
    %input.main_chat__form__submit{:type => "submit", :name => "submit", :value => "Send"}