* {
  box-sizing: border-box;
}

$color-white: #ffffff;
$color-blue: #38aef0;

.side_bar {
  color: $color-white;
  width: 300px;
  display:block;
  float: left;
  &__user-name{
    background-color: #253141;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__top-items{
      height: 20px;
      width: 260px;

      &__name{
        font-size: 16px;
        line-height: 20px;
        float: left;
        font-weight: bold;
      }
      &__icons{
        width: 60px;
        line-height: 20px;
        float: right;
        &__create-group{
          display: inline;
          &__btn{
            color: $color-white;
            text-decoration-line: none;
            float: right;
            margin-right: 5px;
          }
        }
        &__edit-user{
          display: inline;
          &__btn{
            color: $color-white;
            float: right; 
          }
        }
      }  
    }
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;
    &__group{
      width: 260px;
      &__name{
        font-size: 15px;
        margin-bottom: 5px;
        color: $color-white;
        text-decoration-line: none;
      }
      &__message{
        font-size: 11px;
        margin-bottom: 40px;
        color: $color-white;
        text-decoration-line: none;
      }
    }
  }
}

.main_chat {
  width: calc(100vw - 300px);
  float: right;
  &__group-info{
    background-color: $color-white;
    height: 100px;
    display: flex;
    &__info-menu{
      justify-content: left;
      &__group-name{
      padding: 35px 0 0 40px;
      margin-bottom: 15px;
      color: #333333;
      font-size: 20px;
      }
      &__member-name{
      padding: 0 0 0 40px;
      color: #999999;
      font-size: 12px;
      }
    }
    &__edit-menu{
      width: 112px;
      margin-left: auto;
      &__edit{
        height: 40px;
        width: 72px;
        margin:28px 0 0 20px;
        border-width: 1px solid $color-blue;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        .Editlink{
        color: #38aef0;
        text-decoration: none;
        }
      }
    }
  }
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding-top: 35px;
    overflow: scroll;
    $name_date_display: inline;
    &__message{
      &__info{
        padding-left: 40px;
        margin-bottom: 12px;
        &__name{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 0;
          display: $name_date_display;
        }
        &__date{
          padding-left: 5px;
          color: #999999;
          font-size: 12px;
          vertical-align: top;
          display: $name_date_display;
        }
      }
      &__content{
        &__message-text{
          padding-left: 40px;
          color: #434A54;
          font-size: 14px;
          margin-bottom: 46px;
        }
      }
    }
  }
  &__form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    .new_message{
      display: flex;
      .main_chat__form__message__type-box{
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434A54;
        background-color: $color-white;
        border-style: none;
        line-height: 50px;
        border-style: none;
        margin-right: 15px;
        position: relative;
        &__image{
          &__icon{
            font-size: 1.3rem;
            padding: 15px 0 0 0;
            position: absolute;
            right: 155px;
            bottom: 35px;
          }
          &__hidden{
            display: none;
          }
        }
      }
      .main_chat__form__submit{
        background-color: $color-blue;
        width: 100px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: $color-white;
      }
    }
  }
}